<%= form_for(pc) do |f| %>
  <% if pc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pc.errors.count, "error") %> prohibited this pc from being saved:</h2>

      <ul>
      <% pc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Инв_№ %>
    <%= f.text_field :Инв_№ %>
  </div>

  <div class="field">
    <%= f.label :Корпус %>
    <%= f.text_field :Корпус %>
  </div>

  <div class="field">
    <%= f.label :Кабинет %>
    <%= f.text_field :Кабинет %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
