<header>
  <div class="ui pointing menu inverted fluid four item" style="border-radius:0; width:100%">
    <button id='nav-btn' class='ui labeled icon button black' style="width:25%"><i class="list layout icon" style="width:100%"></i></button>
    <%= link_to "Home", root_path, class: "item" %>
    <%= link_to "Help", help_path, class: "item" %>
      <% if logged_in? %>
        <div class="ui simple dropdown item">Account<b class="caret"></b>
          <div class="ui compact menu">
            <%= link_to "Profile", current_user, class: "item" %>
            <%= link_to "Settings", edit_user_path(current_user), class: "item" %>
            <%= link_to "Log out", logout_path, method: "delete", class: "item"%>
          <% else %>
            <%= link_to "Log in", login_path, class: "item" %>
        <% end %>
      </div>
    </div>
  </div>
</header>
